/Project1/Python/logs
.vscode/settings.json
/compmctrl

# Local reference figures (not source)
/old figure/
/old_figure/
/Project2/Python/__pycache__
/Project2/Python/logs
/Project2/Python/logs
/Project2/Report
/Project2/Python/salamandra_simulation/__pycache__
/Project2/Python/results
